<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings configSource="AppSettings.config" />
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="consoleListener"
             type="System.Diagnostics.ConsoleTraceListener" />
        <add name="fileListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="webPingLog.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>