<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- Ignore certification error -->
  <add key="ignoreCertificationError" value="true" />

  <!-- Change current directory to EXE file path -->
  <add key="changeCurrentDirectoryToExeFilePath" value="true" />
  
  <!-- HTTP timeout with HH:MM:SS format. (min: 30 seconds) -->
  <add key="httpTimeoutTimeSpan" value="00:00:30" />
  
  <!-- You can specify relative or absolute file path with environment variable. -->
  <add key="siteListFilePath" value="SiteList.txt" />
  
  <!-- Set interval time span with HH:MM:SS format. (min: 1 minute) -->
  <add key="intervalTimeSpan" value="00:01:00" />

  <!-- Wait timeout with HH:MM:SS format. (min: 30 seconds) -->
  <add key="waitTimeoutTimeSpan" value="00:00:30" />
  
  <!-- Set custom headers to send -->
  <add key="header:Accept" value="text/html" />
  <add key="header:User-Agent" value="Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.85 Safari/537.36" />
</appSettings>